<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}daleri-single.css" title="Daleri Single" media="screen,projection" />
    <title>About Us</title>
</head>
<body>
<div id="wrap">
	<h1><a href="index.html">Mohalla Watch</a></h1>
	<p class="slogan">See Something. Say Something.</p>

	<p class="toptabs">
	<strong class="hide">Main menu:</strong>
	<a class="toptab active" href="/home">Home</a><span class="hide"> | </span>
	<a class="toptab" href="about">About Us</a><span class="hide"> | </span>
	<!--<a class="toptab" href="index.html">Page 3</a><span class="hide"> | </span>-->
	<!--<a class="toptab" href="index.html">Page 4</a><span class="hide"> | </span>-->
	<!--<a class="toptab" href="index.html">Page 5</a><span class="hide"> | </span>-->
	<!--<a class="toptab" href="index.html">Page 6</a><span class="hide"> | </span>-->
	<!--<a class="toptab" href="index.html">Page 7</a>-->
	</p>

	<div id="maincontent">
		<!--<h2>No need to <a href="#">make things</a> complicated...</h2>-->
        <h2>What is Mohalla Watch</h2>


        <h2>Team</h2>
		<h3>More useful resources:</h3>

		<ul>
			<li><a href="http://andreasviklund.com/templates/">More free website templates</a></li>
			<li><a href="http://andreasviklund.com/tag/tutorials/">Webdesign tutorials</a></li>
			<li><a href="http://andreasviklund.com/wordpress-themes/">Themes for WordPress</a></li>
		</ul>

		<p class="bottomlinks"><a href="#">Bottom link 1</a> | <a href="#">Bottom link 2</a> | <a href="#">Bottom link 3</a> | <a href="#">Bottom link 4</a> | <a href="#">Bottom link 5</a> | <a href="#">Bottom link 6</a></p>
	</div>

	<p class="footer">Copyright &copy; 2012 <a href="index.html">Your Name</a><br />
	Template design by <a href="http://andreasviklund.com/">Andreas Viklund</a> | Best hosted at <a href="https://www.svenskadomaner.se/?ref=mall&amp;ling=en" title="Svenska Domäner AB">www.svenskadomaner.se</a></p>
</div>
</body>
</html>